body {
    color       : $theme-body-font-color;
    font-family : $theme-body-font;
    font-size   : $theme-font-size;
    font-weight : 400;
    line-height : $theme-body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family : $theme-header-font;
    color       : $theme-header-font-color;
    line-height : $theme-header-line-height;
    margin      : 0 0 $small-spacing;
}

h1, .h1 {
    @include fluid-type(2.25rem, 4rem);
}
h2, .h2 {
    @include fluid-type(0.875rem, 1rem);
}
h3, .h3 {
    @include fluid-type(2.125rem, 3rem);
}
h4, .h4 {
    @include fluid-type(1.75rem, 2.25rem);
}
h5, .h5 {
    @include fluid-type(1.125rem, 1.25rem);
}
h6, .h6 {
    @include fluid-type(1.125rem, 1.25rem);
}

p {
    @include fluid-type(1rem, 1.25rem);
    line-height : 1.7;
    margin-bottom: rem(16);
}

a {
    transition      : all $base-duration $base-timing;
    text-decoration : none;
    color           : $action-color;
    &:hover {
        text-decoration : none;
        //color           : transparentize($action-color, .2);
    }
    &:active {
        text-decoration : none;
        // color           : transparentize($action-color, .2);
    }
    &:focus {
        text-decoration : none;
        // color           : transparentize($action-color, .2);
    }
}

ul {
    @include margin(rem(16) 0);
    @include padding(0 0 0 rem(24));
    list-style : none;
    li {
        @include font(rem(16), rem(30), 0, 400, $theme-body-font-color);
        position      : relative;
        margin-bottom : rem(16);
        &::before {
            @include position(absolute, 11px null null -24px);
            content    : '';
            background : url('./img/icons/icon-check-negative.svg') no-repeat center center;
            height     : 16px;
            width      : 16px;
        }
    }

    @include media($desktop) {
        @include font(rem(18), rem(36));
    }
}
ol {
    @include margin(rem(16) null);
    padding-left : rem(40);
    li {
        @include font(rem(16), rem(32));
        padding-left : rem(16);
        margin-bottom: rem(24);
    }
}

strong {
    font-weight: 700;
}
em {

}
del {

}
u {

}

hr {
    border-bottom : $gray-hr;
    border-left   : 0;
    border-right  : 0;
    border-top    : 0;
    margin        : $base-spacing 0;
}






























