/*---------------------------------------------------------
 * Typography Variables
 *-------------------------------------------------------*/
// Typography
$system-fonts        : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$sans-serif          : Helvetica, Arial, sans-serif;
$serif               : serif;


$base-font-family    : $sans-serif;
$heading-font-family : $sans-serif;
$input-fonts         : $sans-serif;

// Font Sizes
$browser-context : 16; // Default
$base-font-size : 16px;

// Line height
$base-line-height    : 1.375;
$heading-line-height : 0.9;

// Other Sizes
$base-border-radius : 0px;
$base-spacing       : $base-line-height * 1em;
$small-spacing      : $base-spacing / 2;
$base-z-index       : 0;
$body-copy-b-margin : rem(32);

/*---------------------------------------------------------
 * Color Variables
 *-------------------------------------------------------*/

// Brand Colors

// Theme Brand Colors

// Colors
$black      : rgb(0, 0, 0);
$white      : rgb(255, 255, 255);
$red        : rgb(223, 7, 7);
$yellow     : rgb(248, 231, 28);
$blue       : rgb(0, 114, 198);
$green      : rgb(76, 175, 80);
$gray       : rgb(80, 80, 80);
$gray-light : rgb(209, 209, 209);

// Typography Specific
$base-font-color    : $gray;
$base-heading-color : $gray;
$action-color       : $blue;

// UI Specific
$gray-hr : rgb(230, 230, 230);

// Button Specific
$cta1       : $blue; // Call to Action 1
$cta1-hover : lighten($blue, 10%);

// Flash Colors
$alert   : $red;
$message : $yellow;
$success : $green;


/*---------------------------------------------------------
 * UI Variables
 *-------------------------------------------------------*/

// Border
$base-border-color : $gray-light;
$base-border       : 1px solid $base-border-color;
// $border-valid      : 1px solid $green-border;
// $border-error      : 1px solid $red;

// Background Colors
// $base-background-color      : $cream-input;
$input-background       : $white;
// $input-background-active    : $white-input;
// $input-background-valid     : transparentize($green-border, 0.95);
// $input-background-error     : transparentize($red, 0.95);
// $secondary-background-color : tint($base-border-color, 75%);

// Forms
$placeholder : $base-font-color;
$input-label : $base-font-color;

// Shadows
//$button-shadow : transparentize($black, 0.6);

// Animations
$base-duration : 300ms;
$base-timing   : ease;

/*---------------------------------------------------------
 * Theme Variables
 *-------------------------------------------------------*/

// Typography

$theme-font-size : $base-font-size;

$theme-body-font : $base-font-family;
$theme-body-line-height : $base-line-height;
$theme-body-font-color : $white;

$theme-header-font : $heading-font-family;
$theme-header-line-height : $base-line-height;
$theme-header-font-color : $white;

// Global Variables




















