#mktoStyleLoaded {
  /* css load detection, do not remove */
  color:#123456;
}

form[id^="mktoForm_"].mktoForm {
    width : 100%!important;
    padding : 0;
    fieldset {}
    fieldset legend{}
    input[type=text],
    input[type=url],
    input[type=email],
    input[type=tel],
    input[type=number],
    input[type=date],
    select.mktoField {
        @include padding(rem(8) rem(16));
        @include font(rem(16), rem(24), 0, 400, $gray);
        border : $base-border;
        height : 40px;
        width : 100%!important;
        max-width : 100%!important;
        &.mktoInvalid {
            border-color : $red;
        }
    }

    textarea.mktoField,
    select.mktoField {
        border        : $base-border;
        appearance    : none;
        height        : 40px;
        border-radius : 2px;
    }

    label[for^="State"].mktoLabel {
        position : relative;
        &::after {
            @include position(absolute, null 15px -30px null);
            content        : url("./img/icons/icon-angle-down.svg");
            z-index        : 2;
            pointer-events : none;
        }
    }

    input[type=text]:focus,
    input[type=url]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=number]:focus,
    input[type=date]:focus,
    select.mktoField:focus,
    textarea.mktoField:focus{}

    label.mktoLabel {
        @include font(rem(15), rem(24), 0, 600, $gray);
        padding-top : 0;
        font-family : $base-font-family;
        width : 100%!important;
        .mktoAsterix {
            @include hide-visually();
        }
    }

    .mktoFormRow {
        margin-bottom : rem(16);
        width : 100%;
        .mktoFormCol {
            @include margin(0!important);
            width : 100%;
        }
    }
    .mktoFormRow,
    .mktoFormRow .mktoFieldWrap {
        width : 100%;
    }

    .mktoButtonRow {
        @include margin(rem(24) 0 0);
        display    : block;
        text-align : center;
        span.mktoButtonWrap {
            @include margin(0!important);
            display  : inline-block;
            position : relative;
            &::after {
                @include position(absolute, null 32px 11px null);
                content        : url("./img/icons/icon-arrow-right.svg");
                z-index        : 2;
                pointer-events : none;
                transition     : all $base-duration $base-timing;
            }
            &:hover {
                &::after {
                    transform : translateX(4px);
                }
            }
        }
        button {
            //@extend .btn;
            @include margin(0);
            padding-right : 56px;
            border        : none;
        }
    }// end .mktoButtonRow
    .mktoRequiredField {
        div.mktoError,
        div.mktoErrorArrowWrap,
        div.mktoErrorMsg {
            display : none;
        }
    }

    // remove weird spacer
    .mktoOffset {
        width : 0!important;
        display: none!important;
    }

}// end form id override








