/*********************************************
 * FUNCTIONS
 *********************************************/

// Starter variables that should be overridden later with theme specific values
// Default for starting body font-size
$browser-context : 16;
$base-font-size : #{$browser-context + 'px'};

/*
 * 2.0 - Layout
 *
 * Functions that effect the layout.
 * Examples - containers, grid resets
 *
 */

// Append pseudo-classes to selectors
@function _assign-inputs ($inputs, $pseduo: null) {
    $list : ();

    @each $input in $inputs {
        $input : unquote($input);
        $input : if($pseduo, $input + ":" + $pseduo, $input );
        $list  : append($list, $input, comma);
    }

    @return $list;
}

/*
 * 3.0 - Typography
 *
 * Functions that effect the typography.
 * Examples - pixel to ems, pixel to rems
 *
 */

// Pixel to EM and Pixel to REM mixin lost from Bourbon
// https://css-tricks.com/snippets/sass/px-to-em-functions/

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}


/*
 * 4.0 - Validators/Formatting
 *
 * Functions that check a condition to be used in other functions or mixins.
 * Won't be called on their own
 * Examples - _is-falsy, _compact-shorthand
 *
 */

// _contains Checks if a list contains a value(s)
@function _contains($list, $values...) {
    @each $value in $values {
        @if type-of(index($list, $value)) != "number" {
            @return false;
        }
    }

    @return true;
}

// Checks for a valid CSS length.

@function _is-length($value) {
    @return type-of($value) != "null" and (str-slice($value + "", 1, 4) == "calc"
        or index(auto inherit initial 0, $value)
        or (type-of($value) == "number" and not(unitless($value)))
    );
}

// _is-falsy Checks if a list does not have any values
// @return {boolean}

@function _is-falsy($list) {
    @each $item in $list {
        @if not $item {
            @return true;
        }
    }

    @return false;
}

// _is-color Checks for a valid CSS color
@function _is-color($color) {
    @return (type-of($color) == color) or ($color == "currentColor");
}

// _is-size Checks for a valid CSS size.
@function _is-size($value) {
    @return _is-length($value) or _contains("fill", "fit-content", "min-content", "max-content", $value);
}

// Transforms arguments to its shortest possible form
// @example scss
//   $values: _compact-shorthand(10px 20px 10px 20px);
//
//   output css
//   $values : 10px 20px;

@function _compact-shorthand($values) {
    $output : null;

    $a : nth($values, 1);
    $b : if(length($values) < 2, $a, nth($values, 2));
    $c : if(length($values) < 3, $a, nth($values, 3));
    $d : if(length($values) < 2, $a, nth($values, if(length($values) < 4, 2, 4)));

    @if $a == 0 { $a : 0; }
    @if $b == 0 { $b : 0; }
    @if $c == 0 { $c : 0; }
    @if $d == 0 { $d : 0; }

    @if $a == $b and $a == $c and $a == $d { $output : $a; }
    @else if $a == $c and $b == $d         { $output : $a $b; }
    @else if $b == $d                      { $output : $a $b $c; }
    @else                                  { $output : $a $b $c $d; }

    @return $output;
}

// _unpack-shorthand() - Transforms shorthand that can range from 1-4 values to be 4 values
// @example scss
//   .element {
//      margin: _unpack-shorthand(1em 2em);
//   }
//
//   output css
//   .element {
//      margin : 1em 2em 1em 2em;
//   }

@function _unpack-shorthand($shorthand) {
    @if length($shorthand) == 1 {
        @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
    } @else if length($shorthand) == 2 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
    } @else if length($shorthand) == 3 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
    } @else {
        @return $shorthand;
    }
}

// strip-units - Strips the unit from a number
@function strip-units($value) {
    @return ($value / ($value * 0 + 1));
}